.about-container {
    max-width: 1000px;
}

.about-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    align-items: center;
    margin: 40px 0 60px;
}
.about-header {
    text-align: center;
    margin-bottom: 50px;
}

.about-header {
    text-align: center;
    margin-bottom: 50px;
    font-size: 42px;
    line-height: 1.2;
    color: var(--p-900);
    position: relative;
}

.about-content h2 {
    position: relative;
    padding-left: 16px;
    margin-bottom: 18px;
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
    color: var(--p-900);
}

.about-content h2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 5px;
    height: calc(100% - 8px);
    background: var(--p-500);
    border-radius: 999px;
}

.about-content p {
    color: var(--n-600);
    line-height: var(--p-line-height);
}

.project-info {
    margin-top: 28px;
    padding-top: 20px;
    border-top: 1px solid var(--p-300);
    & p {
    margin: 10px 0;
    color: var(--n-600);
    }
    & strong {
        display: inline-block;
        position: relative;
        padding-left: 14px;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 700;
        color: var(--p-900);
    }

    & strong::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 4px;
        height: 80%;
        background: var(--p-500);
        border-radius: 999px;
    }
}


.about-right {
    display: flex;
    justify-content: center;
}

.about-image {
    width: 100%;
    max-width: 320px;
    border-radius: 20px;
    border: 1px solid var(--p-300);
    box-shadow: 0 12px 30px rgba(0,0,0,.15);
}

.about-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.about-section {
    padding: 24px;
    background: var(--foreground-color);
    border: 1px solid var(--p-300);
    border-radius: 18px;
    & ul {
    margin-left: 20px;
    }
    & li {
    margin: 10px 0;
    color: var(--n-600);
    }
}

.about-footer {
    grid-column: 1 / -1;
    & p {
    color: var(--n-600);
    line-height: var(--p-line-height);
    }
}

